
body{
    background-image: url(../imagens/fundo.png);
    background-repeat: repeat;
    font-family: 'Arial';
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h1 , h2 {
    color: limegreen;
    font-family: 'Times New Roman';
}